
<div class="categoryHeader" (click)="onClickHeader()">
	<div style="float:left;">{{category.name}}
		({{category.numberOfDocuments}} dokumenter)</div>
	<div class="categoryStatusIndicator"><i class="material-icons">{{headerStatusIndicator}}</i></div>
</div>
<div class="categoryContent" [style.display]="display">
	<table>
		<tr>
			<th class="checkboxColumn"><input type="checkbox" [(ngModel)]="allChecked"></th>
			<th class="shortDateColumn">Dag</th>
			<th class="docTypeColumn">Dokumenttype</th>
			<th>Details</th>
		</tr>
		<tr *ngFor="let document of category.documents; let i = index; let k = index;" [popper]="i" [popperTrigger]="'hover'" [popperPlacement]="'bottom'" [popperShowOnStart]="false">
			<td><input type="checkbox" [ngModel]="document.checked" (ngModelChange)="checkedDoc($event, k)"></td>
			<td>{{document.udskriftsDato | date:'EEEE'}} d.
				{{document.udskriftsDato | date:'d/M/y'}}</td>
			<td>{{document.dokType}}</td>
			<td>{{buildDetails(document)}}</td>
			<popper-content #i>
				<app-popper-content [doc]="document"></app-popper-content>
			</popper-content>
		</tr>
	</table>
</div>
