<aside>
    <h3>Opdel efter</h3>
    <select id="divideBy">
        <option>Måned</option>
        <option>* Netbox mapper *</option>
        <option>* Andre *</option>
    </select>
    <select id="direction">
        <option>Stigende</option>
        <option>Faldende</option>
    </select>

    <h3>Filtre</h3>

    <h4>Dato</h4>
    <div>fra <input type="text" id="dateFrom"></div>
    <div>til <input type="text" id="dateTo"></div>

    <h4>Synlighed</h4>
    <div><input type="checkbox" id="showInNetbank"> Synlig i Netbank</div>
    <div><input type="checkbox" id="showDocsWithErrors"> Vis fejlbehæftede</div>
</aside>