<!-- Main Search -->
<app-search [(filter)]="filter" [refnummer]="refnummer" [numOfResults]="numOfResults" (onSearched)="onSearched($event)" (onDokTypes)="onDokTypes($event)">
</app-search>
<div class="mainPlaceholder">
	<!-- Filters -->
	<!-- <app-filter [(filter)]="filter"></app-filter> -->
	<!-- output -->
	<app-documents [resultWrapper]="filteredResults"></app-documents>
	<div [style.display]="displayError" style="color:RED;font-weight:bold;font-size:35px">Ingen dokumenter fundet</div>
</div>