<!-- Main Search -->
<app-search [(filter)]="filter" [refnummer]="refnummer" [numOfResults]="numOfResults" (onSearched)="onSearched($event)" (onDokTypes)="onDokTypes($event)">
</app-search>
<div class="mainPlaceholder">
	<!-- Filters -->
	<!-- <app-filter [(filter)]="filter"></app-filter> -->
	<!-- output -->
	<app-documents [resultWrapper]="filteredResults"></app-documents>
	<div [style.display]="displayError" class="noDocsFound">
    <h2>Der blev ikke fundet nogen dokumenter</h2>

    <i>Tips til forbedring:</i>
      <ul>
        <li>Tjek om du har stavet rigtigt i søgefeltet</li>
        <li>Prøv at udvide din søgning ved at fjerne nogle filtre</li>
        <li>Prøve at udvide perioden du søger indenfor</li>
        <li>Nogle gange er det bedre ikke at søge. Nulstil søgningen og skim listen af sektioner. <br>Skift eventuelt visning øverst til højre</li>
      </ul>
  </div>
</div>
