/* -----------------------  Medarbejderportal styles ---------------------- */
.topBar {
  height: 50px;
  width: 100%;
  background-color: #012F60;
  overflow: hidden;
}

.topBar .leftTopBar {
  float: left;
  height: 50px;
}

.topBar .rightTopBar {
  float: right;
}

.mainWindow {
  width: 100%;
  float: left;
}

.leftMenu {
  float:left;
  width: 248px;
  margin-top: 1px;
}

.prototypeWindow {
  overflow: auto;
  min-height: 600px;
  margin: 10px 20px 0 20px;
  background-color: #ffffff;
  border: 2px solid #ECECEC;
}

.portletHeader {
  padding: 12px;
  border-bottom: 1px dotted #ECECEC;
  font-family: Arial, sans-serif;
  color: #917E7E;
  font-size: large;
}

.flat-button {
  background-color: #f6f6f6;
  border: 1px solid #cccccc;
  color: #2f2f2f;
  transition: all 0.15s ease-out;
}

.flat-button:hover, .flat-button:focus {
  text-decoration: none;
  background-color: #0061a0;
  border-color: #0061a0;
  color: #ffffff;
}


/* -----------------------  General styles ---------------------- */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
  background-color: #EDF2F6;
  font-family: Verdana, sans-serif;
}

.categoryContent tr {
    cursor: pointer;
}

.mainPlaceholder {
    width: 100%;
}

/* -----------------------  Header styles ---------------------- */


/* -----------------------  Aside styles ---------------------- */

aside {
    padding: 0 10px;
    width: 200px;
    float: left;
    border-right: 1px solid #012F60;
}

/* -----------------------  Main styles ---------------------- */

main {
    padding: 5px;
    overflow: hidden;
}





/*----------- Popper CSS -------------*/

.ngxp__container {
  display:none;
  position: absolute;
  border-radius: 3px;
  border: 0px solid #012F60;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  background-color: #012F60;
  color: #fff;
}
.ngxp__container.ngxp__animation {
  -webkit-animation: ngxp-fadeIn  150ms ease-out;
  -moz-animation: ngxp-fadeIn  150ms ease-out;
  -o-animation: ngxp-fadeIn  150ms ease-out;
  animation: ngxp-fadeIn  150ms ease-out;

}
.ngxp__container .ngxp__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;

}

.ngxp__container[x-placement^="top"],
.ngxp__container[x-placement^="bottom"],
.ngxp__container[x-placement^="right"],
.ngxp__container[x-placement^="left"]
{
  display:block;
}
.ngxp__container[x-placement^="top"] {
  margin-bottom: 5px;
}
.ngxp__container[x-placement^="top"] .ngxp__arrow {
  border-width: 5px 5px 0 5px;
  border-color: #FFC107 transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.ngxp__container[x-placement^="bottom"] {
  margin-top: 5px;
}
.ngxp__container[x-placement^="bottom"] .ngxp__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #FFC107 transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.ngxp__container[x-placement^="right"] {
  margin-left: 5px;
}
.ngxp__container[x-placement^="right"] .ngxp__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent #FFC107 transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.ngxp__container[x-placement^="left"] {
  margin-right: 5px;
}
.ngxp__container[x-placement^="left"] .ngxp__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #FFC107;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
