header {
  width: 100%;
  border-bottom: 1px solid #012F60;
  display: inline-block;
}

.ng2-auto-complete-wrapper {
  display: inline;
}

.searchInput {
  width: 400px;
  height: 18px;
}

.searchForm {
  text-align: left;
  padding: 20px 20px 15px 20px;
}

.searchForm input[type="date"] {
  margin-left: 5px;
}

.searchForm button {
  height: 24px;
  width: 43px;
  margin-left: 5px;
}

.numOfDocs {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}

.orderSelect {
  display: block;
  float: right;
  margin-right: 15px;
}

.actions {
  float: left;
  margin: 10px;
}

.filters {
  float: right;
}

.clear {
  clear: both;
}

.filterImage, .filterImageSubstitute {
  height: 20px;
  margin: 0 20px;
  vertical-align: middle;
  cursor: pointer;
}

.filterImageSubstitute {
  width: 20px;
  display: inline-block;
}

.filterLabel {
  color: #333;
  min-width: 150px;
  margin-right: 10px;
}

.filterSelect {
  width: 375px;
  display: block;
  float: left;
  margin: 0 40px 10px 0;
}
